<section>

    <h2>Edit your Profile</h2>

    <div>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="update_profile">Update Profile</button>
        </form>


    </div>

    <hr>


    <div>

        <h2>Create a New Dealbreaker Question</h2>
        <form method="post">
            {% csrf_token %}
            {{ question_form.as_p }}
            <button type="submit" name="add_question">Add Question</button>
        </form>

        <hr>


        <h2>Your Dealbreaker Questions</h2>

        <ul>
            {% for question in user_questions %}
            <li>
                <strong>Q: {{ question.text }}</strong>
                <br>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="question" value="{{ question.id }}">
                    {{ answer_form.answer_yn }}
                    <button type="submit" name="answer_question">Submit Answer</button>
                </form>
            </li>
            {% empty %}
            <li>No questions yet.</li>
            {% endfor %}
        </ul>

        <hr>

        <h2>Your Answers</h2>
        <ul>
            {% for answer in dealbreaker_answers %}
            <li><strong>{{ answer.question.text }}</strong> - {{ answer.answer_yn|yesno:"Yes,No" }}</li>
            {% empty %}
            <li>No answers yet.</li>
            {% endfor %}
        </ul>


    </div>

    <hr>

</section>

